<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Feedback</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    
    <div class="review">
        <div class="container">
            <form action="{{url_for('sentiment_analisis')}}" method="post">
                <div class="mb-3">
                    <label for="textareaReview" class="form-label">Masukkan Feedback Mu</label>
                    <textarea name="review" class="form-control" id="textareaReview" rows="3"></textarea>
                </div>
                <button class="btn btn-success" type="submit">Kirim</button>
            </form>
            <section class="mt-5">
                <h3>Feedback kamu masuk dalam feedback : <span><h2>{{ prediksi }}</h2></span></h3>
            </section>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>